<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
    <script th:inline="javascript">
        window.onload = function(){
            if($('#msg').val() != ''){
                alert($('#msg').val());
            }
        }
        function delUser(){
            var authId = $("#authId").val();
            var authType = $("#authType").val();
            $.ajax({
                type:'POST',
                url:'/center/delUser/' + authId + '/' + authType,
                contentType:'application/x-www-form-urlencoded',
                async: false,
                success:function(data){
                    window.location.href="/center/account"
                },
            })
        }
    </script>
<body>
<input type="hidden" id="msg" th:value="${msg != null ? msg : '' }"/>
    <div th:insert="~{navigation::copy}"></div>
    <div class="main container-fluid center" >
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" th:if="${section == 'personal'}">
            <!--个人头像 + 用户名 + 注册时间-->
            <div class="page-header">
                <div class="media section" >
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-circle" th:src="${users.avatarUrl}" alt="图片无法显示">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${users.userName}"></h4>
                        <span th:text="注册时间 + ${#dates.format(users.CreateTime,'yyyy-MM-dd hh:mm:ss')}"></span>
                    </div>
                </div>
            </div>
            <!--个人信息-->
            <h3>基本信息</h3>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">用户名</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" disabled  th:placeholder="${users.userName}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">用户id</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" disabled  th:placeholder="${users.userId}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">手机号</label>
                    <input type="email" class="form-control" id="exampleInputEmail3"disabled  th:placeholder="${users.mobile}" th:if="${users.mobile != null}">
                    <input type="email" class="form-control" id="exampleInputEmail31"disabled  th:placeholder="未填写" th:if="${users.mobile == null}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">性别</label>
                    <input type="email" class="form-control" id="exampleInputEmail4" disabled  th:placeholder="${users.sex}" th:if="${users.sex != null}">
                    <input type="email" class="form-control" id="exampleInputEmail41" disabled  th:placeholder="未填写" th:if="${users.sex == null}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">真实姓名</label>
                    <input type="email" class="form-control" id="exampleInputEmail5" disabled  th:placeholder="${users.realName}" th:if="${users.realName != null}">
                    <input type="email" class="form-control" id="exampleInputEmail51" disabled  th:placeholder="未填写" th:if="${users.realName == null}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">用户描述</label>
                    <input type="email" class="form-control" id="exampleInputEmail6" disabled  th:placeholder="${users.userInfo}" th:if="${users.userInfo != null}">
                    <input type="email" class="form-control" id="exampleInputEmail61" disabled  th:placeholder="未填写" th:if="${users.userInfo == null}">
                </div>

            </form>
        </div>
        <!--账号信息-->
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" th:if="${section == 'account'}">
            <!--个人头像 + 用户名 + 注册时间-->
            <div class="page-header">
                <div class="media section" >
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-circle" th:src="${users.avatarUrl}" alt="图片无法显示">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${users.userName}"></h4>
                        <span th:text="注册时间 + ${#dates.format(users.CreateTime,'yyyy-MM-dd hh:mm:ss')}"></span>
                    </div>
                </div>
            </div>
            <h3>第三方账号</h3>
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">序号</th>
                    <th class="text-center">绑定账号信息</th>
                    <th class="text-center">状态</th>
                    <th class="text-center">操作</th>

                </tr>
                <tr th:each="user : ${userList}">
                    <input type="hidden" id="authId" th:value="${user.getAuthId()}"/>
                    <input type="hidden" id="authType" th:value="${user.getLoginType()}"/>
                    <th class="text-center middle">1</th>
                    <th th:if="${user.getLoginType() == 'gitee'}">
                        <img src="https://community-shijue.oss-cn-beijing.aliyuncs.com/UserImages/gitee.png" alt="gitee文件丢失了"
                        style="width: 88px" class="center-block middle">
                    </th>
                    <th th:if="${user.getLoginType() == 'github'}">
                        <img src="https://community-shijue.oss-cn-beijing.aliyuncs.com/UserImages/github.png" alt="github文件丢失了"
                        style="width: 88px" class="center-block middle">
                    </th>
                    <th class="text-center middle">使用中</th>
                    <th>
                         <center> <button type="button" class="btn btn-warning" onclick="delUser()">解除绑定</button></center>
                    </th>
                </tr>
            </table>
            <h3>您还可以绑定以下第三方账号</h3>
            <hr>
            <!--加入新的第三方用户时需要重构-->
            <ul th:if="${userList.size() == 0}">
                <li >
                    <a th:href="@{'https://gitee.com/oauth/authorize?client_id=62d333333abf6b0ec269c3061bd2b8615ee372c59c849af3600b6adee4ddb5ad&redirect_uri=http://'+ #{ipaddr} + ':8887/giteeCallback&response_type=code&scope=user_info' }">
                        <img src="https://community-shijue.oss-cn-beijing.aliyuncs.com/UserImages/gitee.png" alt="gitee文件丢失了"
                             style="width: 88px" class="img-rounded middle">
                        <span class="text-muted">gitee</span>
                    </a>
                    <hr>
                </li>
                <li >
                    <a th:href="@{'https://github.com/login/oauth/authorize?client_id=68a1f60191a5e24b04e4&redirect_uri=http://'+ #{ipaddr} +':8887/callback&scope=user&state=1'}">
                        <img src="https://community-shijue.oss-cn-beijing.aliyuncs.com/UserImages/github.png" alt="github文件丢失了"
                             style="width: 88px" class="img-rounded middle">
                        <span class="text-muted">github</span>
                    </a>
                    <hr>
                </li>
            </ul>
            <ul th:if="${userList.size() != 0}">
                <li th:each="user : ${userList}" th:if="${user.getLoginType() != 'gitee'}">
                    <a th:href="@{'https://gitee.com/oauth/authorize?client_id=62d333333abf6b0ec269c3061bd2b8615ee372c59c849af3600b6adee4ddb5ad&redirect_uri=http://'+ #{ipaddr} + ':8887/giteeCallback&response_type=code&scope=user_info' }">
                        <img src="https://community-shijue.oss-cn-beijing.aliyuncs.com/UserImages/gitee.png" alt="gitee文件丢失了"
                             style="width: 88px" class="img-rounded middle">
                        <span class="text-muted">gitee</span>
                    </a>
                    <hr >
                </li>
                <li th:each="user : ${userList}" th:if="${user.getLoginType() != 'github'}">
                    <a  th:href="@{'https://github.com/login/oauth/authorize?client_id=68a1f60191a5e24b04e4&redirect_uri=http://'+ #{ipaddr} +':8887/callback&scope=user&state=1'}">
                        <img src="https://community-shijue.oss-cn-beijing.aliyuncs.com/UserImages/github.png" alt="github文件丢失了"
                             style="width: 88px" class="img-rounded middle">
                        <span class="text-muted">github</span>
                    </a>
                    <hr >
                </li>
            </ul>
        </div>



        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <ul class="list-group section" >
                <li class="list-group-item">
                    <a href="/center/personal"
                       th:class="${section == 'personal'}?'active list-group-item' :'list-group-item'" >个人信息</a>
                </li>
                <li class="list-group-item">
                    <a href="/center/account"
                       th:class="${section == 'account'}?'active list-group-item' :'list-group-item'" >账号信息</a>
                </li>
            </ul>
        </div>
    </div>
    <div th:insert="~{foot::foot}"></div>
</body>
</html>